{% extends "base.html" %}
{% load i18n staticfiles %}

{% block content %}

    <div class="navbar">
        <div class="navbar-inner">
            <div class="container">
                <a class="brand">{% trans "LyricSearch" %}</a>
                <div class="nav-collapse collapse">
                    <form class="navbar-form">
                        <input type="text" class="search_field">
                        <button type="submit" class="btn">{% trans "Search" %}</button>
                    </form>
       
                </div>
            </div> <!-- container -->
        </div> <!-- navbar inner -->
    </div> <!-- navbar -->

    <div class="results">
        <div class="row-fluid">
           <div class="result_text muted">{% trans "Results"%}: 100500 (0.27 {% trans "sec" %}.)</div>
        </div> <!-- result count row fluid -->

        <div class="row-fluid">
            list of results
        </div> <!-- results row fluid -->

        <div class="row-fluid">
            <div class="pagination">
	        <ul>
  	            <li><a href="#">{% trans "Previous" %}</a></li>
	            <li><a href="#">1</a></li>
	            <li><a href="#">2</a></li>
	            <li><a href="#">3</a></li>
	            <li><a href="#">4</a></li>
	            <li><a href="#">5</a></li>
	            <li><a href="#">{% trans "Next" %}</a></li>
	        </ul>
	    </div>
        </div> <!-- pagination row fluid -->
    </div> <!-- results -->

{% endblock %}
