{% extends "base.html" %}
{% load i18n staticfiles endless %}

{% block content %}

    <div class="navbar">
        <div class="navbar-inner">
            <div class="container">
                <a class="brand">{% trans "LyricSearch" %}</a>
                <div class="nav-collapse collapse">
                    <form action="." class="navbar-form" method="get">
                        <input name="query" type="text" class="search_field" />
                        <button type="submit" class="btn">{% trans "Search" %}</button>
                    </form>
       
                </div>
            </div> <!-- container -->
        </div> <!-- navbar inner -->
    </div> <!-- navbar -->

    <div class="results">
        <div class="row-fluid">
           <div class="result_text muted"><small>{% trans "Results"%}: {{ results_count }} ({{ elapsed_time }} {% trans "sec" %}.)</small></div>
        </div> <!-- result count row fluid -->

        <div class="row-fluiid">
            {% paginate song_list %}
            {% for song in song_list %}
                <div class="container">
                    <div class="well">
                        <div class="media">
  		            <div class="media-body">
    		                <h4 class="media-heading"> <a href='{{ song.get_absolute_url }}'>{{ song.title|truncatechars:40 }}</a></h4>
                                <p> {% trans "artist"   %}: {{ song.artist|truncatechars:50 }}</p><BR>
                                <p>
                                     <!--a class="pull-left" href="#"><img src="{{ song.url }}" width="100" height="100" style="margin-right: 20px"/></a-->
                                     {{ song.lyrics|truncatechars:250 }}
                                </p>
                                <ul class="inline muted">
                                    <li>{% trans "duration" %}: {{ song.duration }} {% trans "sec" %}.</li>
			        </ul>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div> <!-- results row fluid -->

        <div class="row-fluid">
            {% show_pages %}
        </div> <!-- pagination row fluid -->
    </div> <!-- results -->

{% endblock %}
