.navbar {
    margin-bottom: 5px;
}

.container {
    margin-left: 0px;
    width: 600px;    
}

.well {
    margin-bottom: 5px;
    padding-bottom: 0px;
}

.background {
    background: #f9f9f9;
}

.result_text {
    margin-bottom: 10px;
}

.results {
    padding-left: 150px;
}

.song_detail {
    padding-left: 150px;
    width: 600px;
}

.search_field {
    min-width: 600px;
    margin-right: 5px;
}

a {
    color: #707172;
}

a:hover {
    color: #101011;
}
